main {
  margin-bottom: 100px;
  .content {
    color: rgba(0, 0, 0, 0.85);
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.5rem;
    p {
      margin-bottom: 1.5rem;
    }

    h2 {
      color: #323E8C;
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 1.5rem;
      margin-top: 32px;
    }

    h3 {

      color: #243E95;
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.8125rem;
    }

    h4 {
      color: #243E95;
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 1.5rem;
    }

    a {
      color: #EF8686;
      font-size: 1.125rem;
      font-weight: 500;
      display: inline-block;
      padding-bottom: 1px;
      margin-bottom: -1px;
      text-decoration: none;
      line-height: 1;

      &:hover {
        border-bottom: 1px solid;
        margin-bottom: -2px;
      }
    }
  }

}

@media screen and (max-width: 767px) {
  main {
    margin-bottom: 60px;
    .content {
      p {
        margin-bottom: 12px;
      }

      h2 {
        font-size: 18px;
      }

      h3, h4 {
        font-size: 14px;
      }

      a {
        font-size: 14px;
      }
    }
  }
}